;;; {{ package_name }}.el --- {{ package_description }} -*- lexical-binding: t -*-

;; Copyright (C) {{ '%Y' | strftime }} {{ author }}

;; Author: {{ author }}{% if author_url %} <{{ author_url }}>{% endif %}
;; Homepage: {% if package_url %}{{ package_url }}{% else %}TODO{% endif %}
;; Version: 0.1.0
;; Keywords: {{ package_keywords.split() | unique | sort | join(", ") }}
;; Package-Requires: ((emacs "{{ emacs_version }}"))

;; This file is not part of GNU Emacs.

;;; License:

;; This program is free software; you can redistribute it and/or modify
;; it under the terms of the GNU General Public License as published by
;; the Free Software Foundation version 3.
;;
;; This program is distributed in the hope that it will be useful,
;; but WITHOUT ANY WARRANTY; without even the implied warranty of
;; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;; GNU General Public License for more details.
;;
;; You should have received a copy of the GNU General Public License
;; along with GNU Emacs.  If not, see <http://www.gnu.org/licenses/>.

;;; Commentary:
{% if package_commentary %}
{{ package_commentary | wordwrap(77) | comment(decoration=";; ", prefix="", postfix="") }}
{% else %}
;; TODO
{% endif %}
;;; Code:

;;; {{ package_name }}.el ends here
